services:
  website-test:
    image: ghcr.io/asefg482/php-nginx:${PHP_VERSION:-8.2}
    platform: linux/amd64
    env_file:
      - .env
    ports:
      - "${NGINX_PORT:-80}:${NGINX_PORT:-80}"
    volumes:
      - ./src:/src
      - ./data/logs/nginx:/var/log/nginx
      - ./data/logs/php:/var/log/php
      - ./data/logs/supervisor:/var/log/supervisor
    depends_on:
      - redis
      - memcached
      - mariadb
    restart: unless-stopped
    container_name: php-nginx-${PHP_VERSION:-8.2}

  mariadb:
    image: mariadb:lts
    restart: unless-stopped
    #    ports:
    #      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./data/mariadb:/var/lib/mysql
    container_name: mariadb

  phpmyadmin:
    image: phpmyadmin:latest
    restart: unless-stopped
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      PMA_ABSOLUTE_URI: ${PMA_ABSOLUTE_URI:-}
    volumes:
      - ./data/logs/phpmyadmin:/var/log/apache2
    depends_on:
      - mariadb
    ports:
      - "${PMA_PORT:-8080}:80"
    #    labels:
    #      - "traefik.enable=false"
    container_name: phpmyadmin

  redis:
    image: redis:alpine
    restart: unless-stopped
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --maxmemory ${REDIS_MAX_MEMORY}
      --maxmemory-policy ${REDIS_MAX_MEMORY_POLICY}
      --save 900 1
      --save 300 10
      --save 60 10000
    volumes:
      - ./data/redis:/data
    container_name: redis

  memcached:
    image: memcached:alpine
    restart: unless-stopped
    command: >
      memcached
      -m ${MEMCACHED_MEMORY}
      -c ${MEMCACHED_MAX_CONNECTIONS}
    container_name: memcached
