name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      php_version:
        description: 'PHP Version'
        required: true
        default: '8.2'
        type: choice
        options:
          - '5.6'
          - '7.0'
          - '7.1'
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          build-args: |
            PHP_VERSION=${{ github.event.inputs.php_version || '8.2' }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.event.inputs.php_version || '8.2' }}
            ghcr.io/${{ github.repository }}:latest